/*头部开始*/
.header{
	min-width:1120px;
	background: #F8F8F8;
}
.nav{
	width:1120px;
	margin:0 auto;
}
.nav a{
	transition: 0.5s;
}
.nav a:hover{
	color:#D4166C;
}
.nav i{
	background: url(../img/navbar.png);
	display: inline-block;
}
/*头部左边开始*/
.nav_left{
	width:450px;
	line-height:28px;
	color:#666;
}
.nav_left a{
	width:60px;
	height:22px;
	line-height:22px;
	border-left:1px solid #ccc;
	float:left;
	text-align: center;
	margin-top:3px;
}
.nav_left .fashion{
	background: #fff;
	height:28px;
	line-height:28px;
	margin:0 0 0 0;
	border-right:1px solid #ccc;
}
.nav_left a.web{
	border-left:0px solid #fff;
}
/*头部右边开始*/
.nav_right{
	width:450px;
	line-height:28px;
}
.nav_right li{
	float:left;
	position:relative;
}
.nav_right .ico {
	color:#D4166C;
}
.nav_right .ico i{
	width:15px;
	height:20px;
	position:absolute;
	top:4px;
	left:-20px;
	background-position:-9px -300px;
	animation:app 0.6s infinite ease ;
}
@keyframes app{
	0%{};
	25%{transform: rotate(-15deg)}
	50%{transform: rotate(15deg)}
	75%{transform: scale(.8)}
	100%{}
}
.nav_right .login {
	padding:0px 10px;
	position:relative;
}
.nav_right .login i{
	width:5px;
	height:3px;
	background-position: -16px -20px;
	vertical-align: middle;
	transition: 0.4s;
}
.nav_right .login:hover i{
	transform: rotate(180deg);
}
.nav_right .login:hover .secl_menu{
	display: block;
}
.nav_right .login .secl_menu{
	width:120px;
	position:absolute;
	left:50%;
	margin-left:-60px;
	display: none;
	transition: 3s;
	padding-top:10px;
}
.nav_right .login .secl_menu1{
	width:80px;
	left:50%;
	margin-left:-40px;
	}
.login .secl_menu span{
	width:12px;
	height:7px;
	position:absolute;
	left:50%;
	margin-left:-6px;
	top:4px;
	background: url(../img/navbar.png) no-repeat -9px -32px;
}
.login .secl_menu .menu{
	border:1px solid #ccc;
}
.login .secl_menu .menu a{
	display: block;
	text-indent: 1em;
}
.login .secl_menu .menu a i{
	transform: none;
	width:20px;
	height:19px;
	margin:0px 10px 0px 3px;
}
.login .secl_menu .menu a:nth-child(1) i{
	background-position:-3px 198px;
}
.login .secl_menu .menu a:nth-child(2) i{
	background-position:-1px 139px;
}
.login .secl_menu .menu a:nth-child(3) i{
	background-position:-3px 168px;
}
.login .secl_menu .menu a:nth-child(4) i{
	background-position:-1px 80px;
}
/*<!--logo开始-->*/
.Biglogo{
	width:1120px;
	border:1px solid red;
	margin:0 auto;
	padding-top:30px;
	font-size:16px;
	background: pink;
}
.Biglogo .bigo{
	width:222px;
	height:61px;
	display: block;
	margin:0px auto;
	background: url(../img/indexPic.png) no-repeat;
	background-position: -80px -730px;
}
/*<!--	上级导航开始-->*/
.Biglogo .top_nav{
	height:45px;
	background:#000;
	margin-top:30px;
}
.Biglogo .top_nav .nav_list a{
	line-height:45px;
	padding:0px 20px;
	display: inline-block;
	color:#fff;
}
.Biglogo .top_nav .nav_list i{
	width:1px;
	height:12px;
	background: #ccc;
	display: inline-block;
}
.Biglogo .top_nav .search_btn{
	width:190px;
	position:relative;
	padding-top:8px;
}
.top_nav .search_btn .text{
	width:150px;
	height: 28px;
	background: #fff;
	border-radius:20px;
	color:#ccc;
	text-indent: 10px;
	border:none;
	font-size:14px;
}
.top_nav .search_btn .search_bg{
	width:17px;
	height:17px;
	position:absolute;
	right:50px;
	top:14px;
	background: url(../img/indexPic.png);
	background-position: 0px 660px;
}
 .search_btn .search_bg .search{
 	width:17px;
 	height:17px;
 	background: transparent;
 }
/*<!--	二级导航开始-->*/
.Biglogo .sub_nav{
	height:45px;
	border:1px solid red;
	line-height:45px;
}
.Biglogo .sub_nav a{
	border:1px solid red;
}
.Biglogo .sub_nav i{
	width:1px;
	height:14px;
	background: #ccc;
	display: inline-block;
}
